$top-nav-background-color: #fff;
$top-nav-font-family: Tahoma,Arial,sans-serif;

$heading-color: #0078d7;
$grey-color-text: #8e8e93;

$body-grey-color: #fafafa;

body {
	padding-top: 60px;
	background-color: $body-grey-color;	
}

.top-link {
	font-family: $top-nav-font-family;	
	background-color: $top-nav-background-color;
	font-size: 16px;
}

.navbar.navbar-fixed-top {
	background-color: $top-nav-background-color;
	height: 50px;
}

.blue-color-heading {
	color: $heading-color;
	font-size: 40px;
}

.body-section {
	margin: 10px 0px 50px;
}

.p-text {
	font-size: 20px;	
}

.navbar-brand {
	font-weight: bold;
}

.body-heading {
	border-bottom: 1px solid #eee;
	padding-bottom: 9.5px;
	margin: 42px 0 21px;
}

li {
	font-size: 16px;
	margin-bottom: 5px;
}

.loggo-icon {
	width: 100px;
	height: 100px;
}

.project-structure {
	width: 450px;
	height: 350px;
}